.waitBar {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .waitBarInner {
        width: 100%;
        height: 100%;
        color: $secondary;
        background-color: currentColor;
        border-radius: 9999px;
        animation: decrease linear forwards;
        @keyframes decrease {
            0% {
                translate: none;
            }
            70% {
                background-color: currentColor;
            }
            90%,
            100% {
                background-color: transparent;
            }
            100% {
                translate: -100%;
            }
        }
    }
}
