$bg: #030304;
$bglight: #0e0e13;
$border: #222224;
$accent: #6600ff;
$secondary: #ffe900;

@function rtp($rems) {
    @return ($rems * 16) + px;
}

@mixin wh($size) {
    width: $size;
    height: $size;
}

@mixin grid-center {
    display: grid;
    place-items: center;
    align-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
